<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A password strength tester built with Vue.js and the zxcvbn library.">
    <meta name="keywords" content="password, strength, tester, vue, zxcvbn">
    <meta name="author" content="Fumea">
    <link rel="icon" href="logo.png">
    <title>Password Strength Tester</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div id="app">
      <h1>Password Strength Tester</h1>
      <p>Test the strength of your password and see how long it would take to crack it.</p>
      <input class = "textBox" type="password" v-model="password" @input="checkPassword" placeholder="Enter your password">
      <div class="strengthBars">
        <div class="strengthBar" v-for="bar in strengthBars" :style="{ backgroundColor: bar.color, width: bar.width }"></div>
      </div>    
      <p v-if="passwordStrength !== ''">Password Strength: {{ passwordStrength }}</p>
      <p v-if="isCommonPassword">Warning: This password is commonly used. Please choose a stronger one.</p>
      <p v-if="estimatedCrackTime !== ''">Estimated Time to Crack: {{ estimatedCrackTime }}</p>
      <p v-if="password !== '' && passwordStrength === ''">Checking password strength...</p>
      <p v-if="password === ''">Please enter a password</p>
      <p class="githubLink" ><a rel="noreferrer" href="https://github.com/uaytug/passwordStrengthTester" target="_blank" style="color: white; ">View on GitHub</a></p>
    </div>
    
    <footer>
      <p class="footerLink">Created by <a rel="noreferrer" href="http://uaytug.dev" target="_blank" style="color: aquamarine;">uaytug</a></p>
    </footer>

    <script>
      new Vue({
        el: '#app',
        data: {
          password: '',
          passwordStrength: '',
          strengthBars: [],
          isCommonPassword: false,
          commonPasswords: [],
          estimatedCrackTime: ''
        },
        mounted() {
          this.loadCommonPasswords();
        },
        methods: {
          loadCommonPasswords() {
            fetch('https://raw.githubusercontent.com/danielmiessler/SecLists/master/Passwords/Common-Credentials/10-million-password-list-top-1000000.txt')
              .then(response => response.text())
              .then(data => {
                this.commonPasswords = data.split('\n');
              })
              .catch(error => {
                console.error('Error loading common passwords:', error);
              });
          },
          checkPassword() {
            const password = this.password;
            const lowercaseRegex = /[a-z]/;
            const uppercaseRegex = /[A-Z]/;
            const digitRegex = /[0-9]/;
            const specialCharRegex = /[^a-zA-Z0-9]/;

            let strength = 0;
            
            if(password.length === 0){
              this.passwordStrength = '';
              this.strengthBars = [];
              this.estimatedCrackTime = '';
              return;
            }

            if (password.length >= 8 && password.length <= 20) {
              strength += 2;
            } else if (password.length > 20) {
              strength += 3;
            }

            if (lowercaseRegex.test(password)) {
              strength++;
            }

            if (uppercaseRegex.test(password)) {
              strength++;
            }

            if (digitRegex.test(password)) {
              strength++;
            }

            if (specialCharRegex.test(password)) {
              strength++;
            }

            const sequentialRegex = /abc|123|xyz|qwe|789/;
            if (!sequentialRegex.test(password.toLowerCase())) {
              strength++;
            }

            const repeatedCharRegex = /([a-zA-Z0-9])\1{2,}/;
            if (!repeatedCharRegex.test(password)) {
              strength++;
            }

            this.isCommonPassword = this.commonPasswords.includes(password.toLowerCase());

            let passwordStrength = '';
            if (password === '') {
              passwordStrength = '';
            } else if (this.isCommonPassword || strength <= 2 || password.length < 8) {
              passwordStrength = 'Very Weak';
            } else if (strength <= 4 && password.length >= 8) {
              passwordStrength = 'Weak';
            } else if (strength <= 6 && password.length >= 8) {
              passwordStrength = 'Fair';
            } else if (strength <= 8 && password.length >= 8) {
              passwordStrength = 'Strong';
            } else if(strength > 8 && password.length >= 8){
              passwordStrength = 'Very Strong';
            } else{
              passwordStrength = 'Very Weak';
            }

            this.passwordStrength = passwordStrength;
            this.showStrengthBars(passwordStrength);
            this.estimatedCrackTime = this.estimateCrackTime(password, strength);
          },

          showStrengthBars(passwordStrength) {
            const strengthMap = {
                'Very Weak': [{ color: '#ff0000', width: '20%' }],
                'Weak': [{ color: '#ff6600', width: '40%' }],
                'Fair': [{ color: '#ffcc00', width: '60%' }],
                'Strong': [{ color: '#99ff33', width: '80%' }],
                'Very Strong': [{ color: '#00cc00', width: '100%' }]
            };
            
            this.strengthBars = strengthMap[passwordStrength];
          },


          estimateCrackTime(password, strength) {
            if (strength <= 2 || password.length < 8 || this.isCommonPassword) {
              return 'Less than a second';
            }
            else{
              const result = zxcvbn(password);
              return this.formatTime(result.crack_times_seconds.offline_slow_hashing_1e4_per_second);
            }},

          formatTime(seconds) {
            const years = Math.floor(seconds / 31536000);
            const days = Math.floor((seconds % 31536000) / 86400);
            const hours = Math.floor(((seconds % 31536000) % 86400) / 3600);
            const minutes = Math.floor((((seconds % 31536000) % 86400) % 3600) / 60);
            const remainingSeconds = Math.floor((((seconds % 31536000) % 86400) % 3600) % 60);

            let timeString = '';
            if (years > 0) {
              timeString += years + ' year(s) ';
            }
            if (days > 0) {
              timeString += days + ' day(s) ';
            }
            if (hours > 0) {
              timeString += hours + ' hour(s) ';
            }
            if (minutes > 0) {
              timeString += minutes + ' minute(s) ';
            }
            if (remainingSeconds > 0) {
              timeString += remainingSeconds + ' second(s)';
            }
            return timeString;
          }
        }
      });
    </script>
  </body>
</html>
